{:copa/schema
 {:txes [[
          ;; recipe ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

          ;name
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :recipe/name
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/fulltext           true
           :db/unique             :db.unique/identity
           :db/doc                "A recipe's name"
           :db.install/_attribute :db.part/db}

          ;description
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :recipe/description
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/fulltext           true
           :db/doc                "A recipe's description"
           :db.install/_attribute :db.part/db}

          ;portions
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :recipe/portions
           :db/valueType          :db.type/long
           :db/cardinality        :db.cardinality/one
           :db/fulltext           true
           :db/doc                "A recipe's serving portions"
           :db.install/_attribute :db.part/db}

          ;preparation
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :recipe/preparation
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/fulltext           true
           :db/doc                "A recipe's actual preparation"
           :db.install/_attribute :db.part/db}

          ;categories
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :recipe/categories
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/many
           :db/fulltext           true
           :db/doc                "All recipe categories"
           :db.install/_attribute :db.part/db}

          ;measurements
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :recipe/measurements
           :db/isComponent        true
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/many
           :db/doc                "A recipe's measurements"
           :db.install/_attribute :db.part/db}

          ;; measurement ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

          ;ingredient
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :measurement/ingredient
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db/doc                "A measurement's ingredient"
           :db.install/_attribute :db.part/db}

          ;quantity
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :measurement/quantity
           :db/valueType          :db.type/double
           :db/cardinality        :db.cardinality/one
           :db/doc                "A measurement's quantity"
           :db.install/_attribute :db.part/db}

          ;unit
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :measurement/unit
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/doc                "A measurement's unit"
           :db.install/_attribute :db.part/db}

          ;; ingredient ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

          ;name
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :ingredient/name
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/fulltext           true
           :db/unique             :db.unique/identity
           :db/doc                "An ingredient's name"
           :db.install/_attribute :db.part/db}

          ;category
          {:db/id                 #db/id[:db.part/db]
           :db/ident              :ingredient/category
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/many
           :db/fulltext           true
           :db/doc                "All ingredient categories"
           :db.install/_attribute :db.part/db}

          ]]}

 :copa/seed
 {:txes [[
          {:db/id              #db/id[:db.part/user -100]
           :recipe/name        "Example Recipe"
           :recipe/description "Uma receita à maneira."
           :recipe/portions    4
           :recipe/preparation "Pegar nas coisas, botar na panela, chegar-lhe o lume e cozinhar."}

          {:db/id           #db/id[:db.part/user -200]
           :ingredient/name "Milk"}

          {:db/id           #db/id[:db.part/user -201]
           :ingredient/name "Flour"}

          {:db/id                  #db/id[:db.part/user -300]
           :measurement/ingredient #db/id[:db.part/user -200]
           :measurement/quantity   1.0
           :measurement/unit       "cup"
           :recipe/_measurements   #db/id[:db.part/user -100]}

          {:db/id                  #db/id[:db.part/user -301]
           :measurement/ingredient #db/id[:db.part/user -201]
           :measurement/quantity   250.0
           :measurement/unit       "ml"
           :recipe/_measurements   #db/id[:db.part/user -100]}
          ]]}}